@charset "UTF-8";
body
{
  background-image: linear-gradient(90deg, yellow, red );
    color: black;
    font-size: 12pt;
    font-family:Arial;
    text-align: center;
    text-decoration: none;
}
 
 
